* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2a2323;
  color: aliceblue;
  background: url("../Assets/brain.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}